<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador de Clientes</title>
    <style type="text/css">
      body {font-family:sans-serif; color:#4f494f;}
      form input {border-radius: 7.5px;}
      h5 {display: inline;}
      .info{padding-bottom: 30px}
      .label {text-align: right}
      .guestbook {float:left; padding-top: 10px}
      .name {width: 100%; float:left; padding:3px;}
      .wrapper {padding-left: 25px; padding-top:20px}
    </style>
  </head>

  <body>
    <div class="wrapper">
      <h1>Gerenciador de Clientes</h1>
      <div class="guestbook_input">
        <form method="post" class="form" action="/">
          Nome: <input type="text" name="busca"/>
          <input type="submit" value='Buscar'/>
        </form>
      </div>
      <div class="guestbook">
        <h3>Clientes:</h3>
        {{range .Resultado}}
        <form method="post" class="form info" action="/">
          <div>
            <h5>Nome:</h5> <input type="text" name="nome" value={{.Nome}}>,
            <h5>Email:</h5> <input type="text" name="email" value={{.Email}}>,
            <h5>Tipo:</h5> <input type="text" name="tipo" value={{.Tipo}}>
          </div>
          <div>
            <h5>Nascimento:</h5> <input type="text" name="nasc" value={{.Nasc}}>,
            <h5>Endereço:</h5> <input type="text" name="end" value={{.End}}>,
            <h5>Documento:</h5> <input type="text" name="doc" value={{.Doc}}>
          </div>
        </form>
        {{end}}
      </div>
    </div>
  </body>
</html>
